*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.keystore
*.jks
google-services.json
secrets.properties
app/release/
app/debug/
*.log

# ✅ فایل‌های بزرگ رو ایگنور کنید
app/libs/*.aar
app/libs/*.so
*.aar
*.so

# فایل‌های موقت
*.tmp
*.temp
*.lock
